/INSTALL
/ABOUT-NLS
compile
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/install-sh
/autom4te.cache/
ibus-table.pc
ibus-table.spec
/missing
/py-compile
ibus-table-*.tar.gz
test-driver
*~
